:root {
    --background-color: #f0eeee;
    --font-color: #555;
    --line-color: #bfbfbf;
    --button-background-color: #e2e2e2;
    --currency-background-color: #78baff;
    --currency-font-color: white;
    --payment-line-background: white;
    --shadow-color: rgba(0,0,0,0.2);
}

html {
    font-family: Arial, Helvetica, sans-serif;
  	font-size: 20px;
}

body {
    margin: 0px;
    background-color: var(--background-color);
  	color: var(--font-color);
}

.currency {
    padding-left:20px; 
    height:16px;
}

button {
    padding: 8px;
	background: var(--button-background-color);
    color: inherit;
  	border: none;
    border-radius: 5px;
  	outline: solid 1px var(--line-color);
    cursor: pointer;
	transition: all 150ms linear;
}

button:hover {
    background-color: var(--background-color);
}

.topbar {
    display: flex;
    gap: 10px;
    padding: 20px;
	border-bottom: dashed 1px var(--line-color);
}

.topbar-header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.dropbtn {
    background-color: var(--currency-background-color);
    color: var(--currency-font-color);
    min-width: 100px;
    padding: 8px;
    text-align:left;
    font-weight: bold;
  	border-right-width: 0px;
    border-radius: 3px 0px 0px 3px;
    outline: solid 1px var(--line-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    padding: 0px;
    margin: 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    z-index: 1;
}

.dropdown-content button {
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin:0px;
    outline: none;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}

.dropdown-content a:hover {background-color: var(--button-background-color);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--currency-background-color);}

.paymentbox {
    display: flex;
    width: 100%;
}

.paymentline {
    width: 100%;
    text-align: right;
	background: var(--payment-line-background);
	color: var(--currency-background-color);
	padding: 8px 18px 8px 8px;
	border-left-width: 0px;
	border-style: none;
	border-radius: 0px 3px 3px 0px;
    outline: solid 1px var(--line-color);
}

.numpad {
    display: grid;
    grid-template-columns: repeat(4,74px);
    grid-auto-rows: 74px;
    justify-content: center;
    padding: 10px;  
}

.numpad .topleft {
    border-top-left-radius: 5px;
}

.numpad .top {
    border-top: 1px solid var(--line-color);
}

.numpad .left{
    border-left: 1px solid var(--line-color);
}

.numpad .topright {
    border-top-right-radius: 5px;
}

.numpad .bottomleft {
    border-bottom-left-radius: 5px;
}

.numpad .bottomright {
    border-bottom-right-radius: 5px;
}

.backspace {
    height: 20px;
}

.numpad button {
	font-weight: bold;
	border-radius: 0;
	border-right: solid 1px var(--line-color);
	border-bottom: solid 1px var(--line-color);
}


.config-button {
	position: fixed;
	display: flex;
	padding:20px;
	bottom: 0px;
	gap: 10px;
}

.config-grid {
    display: grid;
    grid-template-columns: 250px 100%;
    grid-gap: 8px;
    padding: 20px;
}

.config-field {
    display: flex;
    align-items: center;
}
    
.config-field input{
    border: none;
    width: 50%;
    background: var(--payment-line-background);
	color: var(--currency-background-color);
	border-radius: 3px;
    outline: solid 1px var(--line-color);
    padding:5px;
}


.darkmode {
    line-height: 0.3px;
}

.toggle {
  --width: 175px;
  --height: 33px;
  --toggle-width: 80px;
  

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: inset 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: var(--toggle-width); /* calc(var(--height) - 4px); */
  height: calc(var(--height) - 4px);
  border-radius: 2px;
  background-color: var(--button-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #2196F3;
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--toggle-width) - 4px));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-testnet);
  position: absolute;
  right: 10px;
  color: #4d4d4d;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-mainnet);
  position: absolute;
  left: 8px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}

