:root {
    --background-color: #f0eeee;
    --font-color: #555;
    --line-color: #bfbfbf;
    --button-background-color: #e2e2e2;
    --currency-background-color: #78baff;
    --currency-font-color: white;
    --payment-line-background: white;
    --shadow-color: rgba(0,0,0,0.2);
}

html {
    font-family: Arial, Helvetica, sans-serif;
  	font-size: 20px;
}

body {
    margin: 0px;
    background-color: var(--background-color);
  	color: var(--font-color);
}

.currency {
    padding-left:20px; 
    height:16px;
}

button {
    flex: 0 0 auto;
    padding: 8px;
	background: var(--button-background-color);
    color: inherit;
  	border: none;
    border-radius: 5px;
  	outline: solid 1px var(--line-color);
    cursor: pointer;
	transition: all 150ms linear;
}

button:hover {
    background-color: var(--background-color);
}

.topbar {
    display: flex;
    gap: 10px;
    padding: 20px;
	border-bottom: dashed 1px var(--line-color);
}

.topbar-header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.dropbtn {
    background-color: var(--currency-background-color);
    color: var(--currency-font-color);
    min-width: 100px;
    padding: 8px;
    text-align:left;
    font-weight: bold;
  	border-right-width: 0px;
    border-radius: 3px 0px 0px 3px;
    outline: solid 1px var(--line-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    padding: 0px;
    margin: 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    z-index: 1;
}

.dropdown-content button {
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin:0px;
    outline: none;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}

.dropdown-content a:hover {background-color: var(--button-background-color);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--currency-background-color);}

.paymentbox {
    display: flex;
    width: 100%;
}

.paymentline {
    width: 100%;
    text-align: right;
	background: var(--payment-line-background);
	color: var(--currency-background-color);
	padding: 8px 18px 8px 8px;
	border-left-width: 0px;
	border-style: none;
	border-radius: 0px 3px 3px 0px;
    outline: solid 1px var(--line-color);
}

.numbox {
    display: flex;
    justify-content: center;
}

.numpad {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(4,74px);
    grid-auto-rows: 74px;
    justify-content: center;
    border: solid 2px var(--line-color);
    border-radius: 5px;
    margin: 10px;  
}

.backspace {
    height: 20px;
}

.numpad button {
    outline: none;
	font-weight: bold;
	border-radius: 0;
	border-right: solid 1px var(--line-color);
	border-bottom: solid 1px var(--line-color);
}

.numpad button:nth-last-child(-n+4){ border-bottom: 0; }
.numpad button:nth-child(4n) { border-right: 0; }

.config-button {
	position: fixed;
	display: flex;
	padding:20px;
	bottom: 0px;
	gap: 10px;
}

.config-grid {
    display: grid;
    grid-template-columns: 250px auto;
    grid-gap: 8px;
    padding: 8px;
}

.config-field {
    display: flex;
    align-items: center;
}
    
.config-field input{
    border: none;
    width: 100%;
    background: var(--payment-line-background);
	color: var(--currency-background-color);
	border-radius: 3px;
    outline: solid 1px var(--line-color);
    padding:5px;
}

.divider {
    padding: 15px;
}

.darkmode {
    line-height: 0.3px;
}

nav{
    width: fit-content;
    border: solid 1px var(--line-color);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}
nav input{ display: none; }
nav label{
    display: flex;
    background: var(--button-background-color);
    padding: 8px 10px;
    font-family: sans-serif;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
}
nav label:last-of-type{ border-right: 0; }
nav label:hover{
    background: var(--background-color);
}

nav input:checked + label{
    color: white;
    background: var(--currency-background-color);
}

nav img {
    height: 30px;
}





