    <div class="numbox">    
    <div class="numpad">
        <button data-action="1">1</button>
        <button data-action="2">2</button>
        <button data-action="3">3</button>
        <button data-action="+10">+10</button>

        <button data-action="4">4</button>
        <button data-action="5">5</button>
        <button data-action="6">6</button>
        <button data-action="+20">+20</button>

        <button data-action="7">7</button>
        <button data-action="8">8</button>
        <button data-action="9">9</button>
        <button data-action="+50">+50</button>

        <button data-action="-"></button>
        <button data-action="0">0</button>
        <button id="Dot" data-action="dot">.</button>
        <button data-action="Backspace">
            <img class="backspace" src="static/img/backspace.png" alt="Backspace"/>
        </button>
    </div>
    </div>
