<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment - BETA TEST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/pos.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename= 'js/script.js') }}" defer></script>
    <script src="{{ url_for('static', filename= 'js/darkmode.js') }}" defer></script>
</head>
<body>

{% block content %} {% endblock %}

</body>
</html>
